h1 {
    color:rgb(215, 227, 227) ;
    background-color:rgb(17, 92, 111) ;
}

h3 {
    color: rgb(7, 113, 113);
}
html{
    background-color: rgb(173, 226, 230);
}
table {
    background-color: rgb(118, 177, 193);
}